{% extends 'home.html' %}
{% block content %}
<script>
    document.getElementById("resumeswipe").classList.add("high2");
    document.getElementById("resumein").classList.add("high");
</script>
<div class="container-fluid">
    <div class=" blackbox add-height">
        <form action="{{ url_for('resume.writeresume') }}" method="post">
            <table class="table ">
                <thead>
                    <h3>Add data</h3>
                </thead>
                <tbody>
                    {% for i in range(user|length -2)%}
                    {% if i%2==0 %}
                    <tr>
                        {% endif %}
                        <td>
                            {% set a=verify[i]|string %}
                            {% set c=a.strip("')")%}
                            {% set d=c.strip("('")%}
                            {% set b =[d.split("', '")]%}
                            <div class="form-group">
                                {% if user[i][0]|lower in count %}
                                {% if user[i][0]|lower == 'linking_jd' %}
                                <label for={{user[i][0]|lower}}>{{user[i][0]|capitalize}}</label>&nbsp&nbsp&nbsp&nbsp&nbsp<i
                                class="fa-solid fa-circle-info" data-toggle="tooltip" data-placement="right"
                                title="{{b[0][1]}}"></i><br>
                                <select name={{user[i][0]|lower}} id={{user[i][0]|lower}}  class="col-8" required>
                                    <option value="None">None</option>
                                    {% for element in jdData %}
                                    <option value="{{element[0]}}">{{element[0]}}</option>
                                    {% endfor %}
                                </select>
                                {% else %}
                                <label for={{user[i][0]|lower}}>{{user[i][0]|capitalize}}</label>&nbsp&nbsp&nbsp&nbsp&nbsp<i
                                class="fa-solid fa-circle-info" data-toggle="tooltip" data-placement="right"
                                title="{{b[0][1]}}"></i><br>
                                <select name={{user[i][0]|lower}} id={{user[i][0]|lower}}  class="col-8" required>
                                    <option value="None">None</option>
                                    {% for element in tabledata %}
                                    <option value="{{element[1]}}">{{element[1]}}</option>
                                    {% endfor %}
                                </select>
                                {% endif %}
                                {% else %}
                                {% if user[i][0]|lower not in nothis %}
                                <label for={{user[i][0]|lower}}>{{user[i][0]|capitalize}}</label>&nbsp&nbsp&nbsp&nbsp&nbsp
                                <i class="fa-solid fa-circle-info" data-toggle="tooltip" data-placement="right"
                                    title="{{b[0][1]}}"></i>
                                    {% if b[0][2]=='date' %}
                                    <input type="date" class="form-control col-10" id="exampleInputEmail1"
                                        name={{user[i][0]|lower}} required>
                                    {%else%}
                                    <input type="text" class="form-control col-10" id="exampleInputEmail1"
                                        name={{user[i][0]|lower}} required>
                                    {% endif %}
                                {% endif %}
                                {% endif %}
                            </div>
                        </td>
                        {% if i%2==1 %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <input type="submit" class="btn btn-primary" value="Add Data">
            <input type="button" class="btn btn-primary" value="Cancel" onclick="history.back()"/>
        </form>
    </div>
</div>

{% endblock %}