{% extends 'home.html' %}
{% block content %}
<script>
    document.getElementById("jobswipe").classList.add("high2");
    document.getElementById("jobin").classList.add("high");
</script>
<div class="container-fluid ">
    <div class="blackbox add-height">

        <form action="{{ url_for('demand.writedemand') }}" method="post">
            <h3>Add data</h3>
            <div class="container">
                <div class="row">
                    {% for i in range(1,user|length-2)%}
                    {% if i%2==1 %}
                    {% endif %}
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        {% set a=verify[i]|string %}
                        {% set c=a.strip("')")%}
                        {% set d=c.strip("('")%}
                        {% set b =[d.split("', '")]%}

                        <div class="form-group">
                            {% if user[i][0]|lower in count %}
                            {% if user[i][0]|lower in notimpdrop %}
                            <label for={{user[i][0]|lower}}>{{head[i][0]}}</label>&nbsp&nbsp&nbsp&nbsp&nbsp<i
                                class="fa-solid fa-circle-info" data-toggle="tooltip" data-placement="right"
                                title="{{b[0][1]}}"></i>
                            <br>
                            <select name={{user[i][0]|lower}} id={{user[i][0]|lower}} class="col-10">
                                <option value="None">None</option>
                                {% for element in tabledata %}
                                {% if element[0]==user[i][0]|lower%}
                                <h1>sd</h1>
                                <option value="{{element[1]|string}}">{{element[1]}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            {% else %}
                            <label for={{user[i][0]|lower}}>{{head[i][0]}}</label>&nbsp&nbsp&nbsp&nbsp&nbsp<i
                                class="fa-solid fa-circle-info" data-toggle="tooltip" data-placement="right"
                                title="{{b[0][1]}}"></i>
                            <i class="fa-solid fa-star fa-2xs" style="color:red"></i><br>
                            <select name={{user[i][0]|lower}} id={{user[i][0]|lower}} class="col-10" required>
                                <option value="None">None</option>
                                {% for element in tabledata %}
                                {% if element[0]==user[i][0]|lower%}
                                <h1>sd</h1>
                                <option value="{{element[1]|string}}">{{element[1]}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            {% endif %}
                            {% else %}
                            {% if user[i][0]|lower not in nothis %}
                            <label for={{user[i][0]|lower}}>{{head[i][0]}}</label>&nbsp&nbsp&nbsp&nbsp&nbsp<i
                                class="fa-solid fa-circle-info" data-toggle="tooltip" data-placement="right"
                                title="{{b[0][1]}}"></i>
                            {% if b[0][2]=='date' %}
                            {% if user[i][0]|lower in notimpdate %}
                            <input type="date" class="form-control col-10" name={{user[i][0]|lower}}>
                            {% else %}
                            <i class="fa-solid fa-star fa-2xs" style="color:red"></i>
                            <input type="date" class="form-control col-10" name={{user[i][0]|lower}} required>
                            {% endif %}
                            {%else%}
                            {% if user[i][0]|lower =='demand_code' %}
                            <input type="text" class="form-control col-10" name={{user[i][0]|lower}}>
                            {% elif user[i][0]|lower =='skill_with_experience' %}
                            <i class="fa-solid fa-star fa-2xs" style="color:red"></i>
                            <input type="text" class="form-control col-10" name={{user[i][0]|lower}}
                                placeholder="Python-3,Hadoop-2" required>
                            {% elif user[i][0]|lower =='target_doj' %}
                            <i class="fa-solid fa-star fa-2xs" style="color:red"></i>
                            <input type="date" class="form-control col-10" name={{user[i][0]|lower}} required>
                            {% else %}
                            <i class="fa-solid fa-star fa-2xs" style="color:red"></i>
                            <input type="text" class="form-control col-10" name={{user[i][0]|lower}} required>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% if i%2==0 %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Add Data">
            <input type="button" class="btn btn-primary" value="Cancel" onclick="history.back()" />
        </form>
    </div>
</div>
{% endblock %}