{% extends 'home.html' %}

{% block content %}
<style>
  .blue{
    background-color: rgb(89, 89, 134);
  }
</style>
<div class="container">
       <h5>{{msg}}</h5>
       <h6>{{sdf}}</h6>
       <br>
       <button type="button" class="btn btn-primary" onclick="location.href='{{link}}'">Back</button>
</div>
<div class="container">
       <div class="row">
         <div class="col-lg-6 col-md-6 col-sm-12 blue">
           One of three columns
         </div>
         <div class="col-lg-6 col-md-6 col-sm-12 blue">
           One of three columns
         </div>
         <div class="col-lg-6 col-md-6 col-sm-12 blue">
          One of three columns
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 blue">
          One of three columns
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 blue">
          One of three columns
        </div>
       </div>
     </div>
{% endblock %}