<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3fa19425e3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">

    <title>HyperLedger</title>
    <style>
        .first-row {
            display: block;
        }

        body {
            padding: 0px;
            margin: 0px;
        }

        .left-column {
            float: left;
            width: 6%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            padding: 10px;
            text-align: start;
            background-color: #0C2D48;
            align-items: center;
            line-height: 5rem;
            text-align: center;
        }

        .right-column {
            float: right;
            width: 94%;
            background: lightgrey;
            height: 100vh;
        }
    </style>
</head>

<body>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <div id="jobswipe" class=""><a href="/demand"><i class="fa-solid fa-id-card-clip rd"></i>Job Demand</a>
        </div>
        <div id="resumeswipe" class="">
            <a href="/resume"><i class="fa-solid fa-file rd"></i>Resume Pipeline</a>
        </div>
        <div id="recentswipe" class="">
            <a href="#"><i class="fa-solid fa-clock-rotate-left rd"></i>Recent Profiles</a>
        </div>
        <div id="aiswipe" class="">
            <a href="#"><i class="fa-solid fa-brain rd"></i>AI/ML</a>
        </div>
        <div id="settingswipe" class="">
            <a href="/settings"><i class="fa-solid fa-gear rd"></i>Settings</a>
        </div>
    </div>
    <div class="first-row">
        <div class="left-column">
            <div class="side">
                <button class="openbtn" onclick="openNav()"> <i class="fa-solid fa-bars sd sd1"></i></button>
                <div class="inside">
                    <div id="jobin" class=" ">
                        <i onclick="location.href='/demand'" class="fa-solid fa-id-card-clip sd"></i>
                    </div>
                    <div id="resumein" class=" ">
                        <i onclick="location.href='/resume'" class="fa-solid fa-file sd"></i>
                    </div>
                    <div id="recentin" class=" ">
                        <i class="fa-solid fa-clock-rotate-left sd"></i>
                    </div>
                    <div id="aiin" class=" ">
                        <i class="fa-solid fa-brain sd"></i>
                    </div>
                    <div id="settingin" class=" " >
                        <i onclick="location.href='/settings'" class="fa-solid fa-gear sd"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class=right-column>
            <div class="container-fluid navb">
                <i class="fa-solid fa-right-to-bracket sd "></i>
                &nbsp&nbsp
                <a href="/logs"><i class="fa-solid fa-clipboard-list sd"></i></a>
            </div>
            <div>
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
</body>
<script>
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>

</html>