{% extends 'home.html' %}
{% block content %}
<script>
    document.getElementById("resumeswipe").classList.add("high2");
    document.getElementById("resumein").classList.add("high");
</script>
{% if session_info['groupno'] == 3  %}
<script>
    document.getElementById("jobswipe").classList.add("invisible");
    document.getElementById("jobin").classList.add("invisible");
    document.getElementById("resumeswipeing").href = '/resume2';
    var submitButton = document.getElementById('resumeing');
    submitButton.setAttribute('onclick', "location.href='/resume2");
</script>
{% endif %}
<style>
    .disabled-link {
        pointer-events: none;
    }
</style>
<div class="parent flex-parent">
    <div class="child flex-child">
        <h2>Resume Tracker</h2>
        {% if filter==1 %}
        <div class="inline-block">
            <h3>Flitered</h3>&nbsp&nbsp&nbsp&nbsp
            <button type="button" class="btn btn-outline-danger down" onclick="location.href='/resume'">Back</button>
        </div>
        {% endif %}
    </div>
    <div class="child flex-child push-right">
        <button type="button" class="btn1 only-shadow"
            onclick="location.href='/filter_resume'">&nbsp&nbsp&nbspFilter&nbsp&nbsp&nbsp </button>
    </div>
</div>
<div class="container-fluid">
    <div class="blackbox horizon add-height">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        <table class="table  table-hover">
            <thead>
                <tr class="table-warning">
                    {% for element in user %}
                    <th scope="col">{{ element[0]}}</th>
                    {% if element[0]|capitalize =='Box link'%}
                    <th> &nbsp</th>
                    {% endif %}
                    {% endfor %}
                    <th>Status of the profile</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for result in data %}
                {% set ns = namespace(x=1) %}
                {% set nd = namespace(k='asd') %}
                <tr>
                    {% for element in result %}
                    <td>{{element}}</td>
                    {% set ns.x = ns.x + 1 %}
                    {% if ns.x==2 %}
                    {% set nd.k = element %}
                    {% endif %}

                    <!-- {% if ns.x == 8 %}
                    <td>
                        <form action="{{ url_for('resume.contact') }}" method="post">
                        <input type="submit" name="field" class="btn btn-primary" value="{{element}}" placeholder="View" data-toggle="tooltip" data-placement="right"
                        title="View Job Demand details">
                        </form>
                    {% endif %} -->
                    {% if ns.x == 10 %}
                    <td><button href="{{elment}}" onclick=" window.open('{{element}}','_blank')"
                            class="btn btn-success down ">open</button></td>
                    {% endif %}

                    {% endfor %}
                    <td>
                        <select class="col-8" required>
                            <option value="None">None</option>
                            {% for element in tabledata %}
                            <option value="{{element[1]}}">{{element[1]}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {% for key, value in dict1.items() %}
                        {% if  nd.k in value%}
                        <a class="btn btn-warning down" href="{{ url_for('resume.viewedjd',key1=key) }}"
                            class="disabled-link">View Jd</a>
                        {% endif %}
                        {% endfor %}
                        <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-expanded="false">
                            Actions
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if session_info['groupno'] == 3  %}
                            <a class="dropdown-item" href="{{ url_for('resume.selected',id = nd.k) }}">Select for Interview</a>
                            <a class="dropdown-item" href="{{ url_for('resume.reject',id = nd.k) }}">Reject</a>
                            
                            {% for key, value in dict1.items() %}
                                {% if  nd.k|string in value%}
                                <a class="dropdown-item" href="{{ url_for('resume.viewedjd',key1=key) }}"  class="disabled-link">View Jd</a>
                                {% endif %}
                            {% endfor %}
                            {% endif %}
                        </div> -->
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}