{% extends 'home.html' %}
{% block content %}
<script>
    document.getElementById("resumeswipe").classList.add("high2");
    document.getElementById("resumein").classList.add("high");
</script>
{% if session_info['groupno'] == 3  %}
<script>
    document.getElementById("jobswipe").classList.add("invisible");
    document.getElementById("jobin").classList.add("invisible");
</script>
{% endif %}
<div class="parent flex-parent">
    <div class="child flex-child">
        <h2>Resume Tracker</h2>
        {% if filter==1 %}
        <div class="inline-block">
            <h3>Flitered</h3>&nbsp&nbsp&nbsp&nbsp
            <button type="button" class="btn btn-outline-danger down" onclick="location.href='/resume'">Back</button>
        </div>
        {% endif %}
    </div>
    <div class="child flex-child push-right">

        <button type="button" class="btn1 only-shadow" onclick="location.href='/add_data_resume'">+ New&nbsp</button>
        <button type="button" class="btn1 only-shadow"
            onclick="location.href='/filter_resume'">&nbsp&nbsp&nbspFilter&nbsp&nbsp&nbsp </button>
    </div>
</div>
<div class="container-fluid">
    <div class="blackbox horizon add-height">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        <table class="table  table-hover">
            <thead>
                <tr class="table-warning">
                    {% for element in user %}
                    <th scope="col">{{ element[0]|capitalize }}</th>
                    {% if element[0]|capitalize =='Box_link'%}
                    <th> &nbsp</th>
                    {% endif %}
                    {% endfor %}
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for result in data %}
                {% set ns = namespace(x=1) %}
                {% set nd = namespace(k='asd') %}
                <tr>
                    {% for element in result %}
                    <td>{{element}}</td>
                    {% set ns.x = ns.x + 1 %}
                    {% if ns.x==3 %}
                    {% set nd.k = element %}
                    {% endif %}

                    <!-- {% if ns.x == 8 %}
                    <td>
                        <form action="{{ url_for('resume.contact') }}" method="post">
                        <input type="submit" name="field" class="btn btn-primary" value="{{element}}" placeholder="View" data-toggle="tooltip" data-placement="right"
                        title="View Job Demand details">
                        </form>
                    {% endif %} -->
                    {% if ns.x == 10 %}
                    <td><button onclick=" window.open('{{element}}','_blank')"
                            class="btn btn-success down ">open</button></td>
                    {% endif %}

                    {% endfor %}
                    <td>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-expanded="false">
                            Actions
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('resume.updated',id = nd.k) }}">Update</a>
                            {% if session_info['groupno'] == 2  %}
                            <a class="dropdown-item" href="{{ url_for('resume.deleted',id = nd.k) }}">Delete</a>
                            {% endif %}
                        </div>
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}