{% extends 'home.html' %}
{% block content %}
<style>

    .align {
        text-align: start;
        padding: 10px;
    }

    .card {
        padding: 6px;
    }
    .left-column {
        display: none;
    }
    .right-column{
        width: 100%;
    }

</style>
<div class="parent flex-parent">
    <div class="child flex-child">
        <h3>Requested JD</h3>
    </div>
    <div class="child flex-child push-right">
        <input type="button" value ="Close" class="btn btn-primary" onclick="window.opener=null; window.close(); history.back(); return false;" />
    </div>
</div>
<div class="container-fluid">
    <div class="blackbox horizon add-height">
        <div class="align">
            <div class="card" style="width: 100%;">
                {% for i in range(titles|length -1) %}
                <div class="card">
                    {{titles[i][0]|capitalize}} : &nbsp {{sendData[i]}}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}